{{ form_start(form) }}
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.artiste) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.titre) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                {{ form_row(form.prixVente) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.genre) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                {{ form_row(form.description) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 mt-3">
                {{ form_row(form.pochette) }}
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    <div class="text-right">
        <a href="{{ path('album_index') }}" class="btn btn-outline-primary">Annuler</a>
        <button class="btn btn-primary">{{ button_label|default('form.btnSave'|trans) }}</button>
    </div>

{{ form_end(form) }}
